In [1]:
import sqlite3

In [2]:
class Employee:
    """A sample Employee class"""

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay

    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)

    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)

In [28]:
conn = sqlite3.connect('Files/employee.db')

c = conn.cursor()
try:
    c.execute("""CREATE TABLE employees (first text, last text, pay integer)""")
    c.execute("""INSERT INTO employees VALUES ('Corey', 'Schafer', 50000)""")
    conn.commit()  #  <-- Commiting our query
except:
    c.execute("""SELECT * FROM employees WHERE last='Schafer'""")
    print(c.fetchone())  #  <--  Output one string of table
    # c.fetchmany(5)  #  <--  Output five strings of table
    # c.fetchall()  #  <--  Output all strings of table
finally:
    conn.commit()  #  <-- Commiting our query
    conn.close()  #  <-- Do not forget to close!

('Corey', 'Schafer', 50000)

In [36]:
conn = sqlite3.connect('Files/employee.db')  #  :memory:  #  <-- For db from ram

c = conn.cursor()

emp_1 = Employee('John', 'Doe', 80_000)
emp_2 = Employee('Jane', 'Doe', 60_000)

print(emp_1.first)
print(emp_1.last)
print(emp_1.pay)

# c.execute("""INSERT INTO employees VALUES ('{emp_1.first}', '{emp_1.last}', {emp_1.pay})""")  #  Good for sql injection

with conn:
    c.execute("""INSERT INTO employees VALUES (?, ?, ?)""", (emp_1.first, emp_1.last, emp_1.pay))  #  Another way of editing DB

with conn:
    c.execute("""INSERT INTO employees VALUES (:first, :last, :pay)""", {'first': emp_2.first, 'last': emp_2.last, 'pay': emp_2.pay})

with conn:
    c.execute("""SELECT * FROM employees WHERE last=?""", ('Schafer', ))
    print(c.fetchall())

with conn:
    c.execute("""SELECT * FROM employees WHERE last=:Doe""", {'Doe': 'Doe'})
    print(c.fetchall())

John
Doe
80000
[('Corey', 'Schafer', 50000), ('Corey', 'Schafer', 50000), ('Corey', 'Schafer', 50000), ('Corey', 'Schafer', 50000)]
[('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000), ('John', 'Doe', 80000), ('Jane', 'Doe', 60000)]